---
/*
 * Blog index page template
 *
 * Lists all of the blog posts.
 */
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Section from "@theme/components/Section.astro";
import PostsList from "../../layouts/components/PostsList.astro";

const userStories = await getCollection("userStories");

// Sort userStories by published date in descending order
userStories.sort(
  (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime(),
);
---

<Layout title="Case Studies">
  <Section title="Case Studies" isPrimary padding="xxl" className="bg-white">
    <PostsList posts={userStories} hasFeaturedItem />
  </Section>
</Layout>
